<%-include ('./partials/dashboardHeader') %>

<h1 class="dashboard-heading">Dashboard</h1>

<p class="dashboard-welcome">Welcome <%= name %></p>
<p class="upcoming-events">
  Don't forget to <u><a href="/form">sign up</a></u> for Valentines Match Event by 7th February!
</p>
<div class="dashboard-h1-div">
<a href="/form" class="dashboard-h1">&nbsp&nbsp&nbsp&nbspValentines Match event (14th Feb 2021)&nbsp&nbsp&nbsp&nbsp</a>
</div>
<div class="dashboard-btn-div">
  <a href="/form" class="dashboard-button">
    <img src="../public/images/matchCouple.svg">
    <div>
      Find Match
    </div>
  </a>
  <a href="/applySecondRound" class="dashboard-button round-two">
    <img src="../public/images/secondRoundDashboard.svg">
    <div>
      Apply for 2nd Round
    </div>
  </a>
  <a href="http://wat-friends-chat.herokuapp.com/home#email=<%= email %>&token=<%= token %>" class="dashboard-button">
    <img src="../public/images/chatMatch.svg">
    <div>
      Chat with match
    </div>
  </a>
</div>


<div class="dashboard-h1-div ">
  <a href="/projectBuddyView" class="dashboard-h1">&nbsp&nbsp&nbsp&nbspProject Buddy&nbsp&nbsp&nbsp&nbsp</a>
</div>
<div class="dashboard-btn-div last-row">
  <a href="/projectBuddyForm" class="dashboard-button">
    <img src="../public/images/registerProjectBuddy.svg">
    <div>
      Create a posting
    </div>
  </a>
  <a href="/projectBuddyView" class="dashboard-button">
    <img src="../public/images/findProjectBuddy.svg">
    <div>
      View all postings
    </div>
  </a>
  <a href="/myPostings" class="dashboard-button">
    <img src="../public/images/checkPosting.svg">
    <div>
      See my postings
    </div>
  </a>
</div>

<%-include ('./partials/footer') %>
