<%-include ('./partials/genericHeader') %>

<link rel="stylesheet" href="../public/stylesheets/projectBuddyViews.css">
<div class="back-button">
    <a href="/dashboard">Back to dashboard</a>
</div>
<section class="project-buddy-view">
  <h1>Find a Project Buddy</h1>
  <form action="/projectBuddyView" method="POST" class="form">
    <br>
    <input type="text" name="quickSearch" placeholder="Type here" class="search">
    <br>
    <button type="submit" class="search-button">Search</button>
    <div class="card-section">
        <%for(var x =0; x<result.length; x++) {%>
        <div class="card">
            <h1> <%=result[x].preferredName%></h1>
            <div> <span class="purple-text">Skills: </span><%=result[x].skills %></div>
            <div>
                <span class="purple-text">Interests: </span><%=result[x].interests %>
            </div>
            <div class="buttons">
                <div class="button-green" onclick="toggle_modal('contact<%=x%>')">Contact</div>
                <div class="button-purple" onclick="toggle_modal('post<%=x%>')">View</div>
            </div>
        </div>
        <div class="popup-position contact<%=x%>">
            <div class="popup-wrapper">
                <div class="popup-container">
                    <h1> <%=result[x].preferredName%></h1>
                    <div><span class="purple-text">Instagram: </span><%=result[x].instagram %></div>
                    <div class="modal-footer">
                        <button type="button" class="login-button" onclick="toggle_modal('contact<%=x%>')">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="popup-position post<%=x%>">
            <div class="popup-wrapper">
                <div class="popup-container">
                    <h1> <%=result[x].preferredName%></h1>
                    <div><span class="purple-text">Skills: </span><%=result[x].skills %></div>
                    <div><span class="purple-text">Interests: </span><%=result[x].interests %></div>
                    <div><span class="purple-text">Description: </span><%=result[x].description %></div>
                    <div><span class="purple-text">Instagram: </span><%=result[x].instagram %></div>
                    <div class="modal-footer">
                        <button type="button" class="login-button" onclick="toggle_modal('post<%=x%>')">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <%}%>
    </div>
  </form>
</section>

<%-include ('./partials/footer') %>

<script>
    function toggle_modal(id) {
        var e = document.getElementsByClassName(id);
        if(e[0].style.display == 'block')
            e[0].style.display = 'none';
        else 
            e[0].style.display = 'block';
    }
</script>

        <!-- <script>
            const viewButtons = document.getElementsByClassName("button-purple");

            for (var i = 0, len = viewButtons.length; i < len; i++) {
                (function (index) {
                    viewButtons[i].onclick = function () {
                        viewButtons[index].innerText = 
        }
        })(i);
        }
        </script> -->
